#parrafo-de-prueba{
    background: linear-gradient(to left, blue, yellow, red);
    color: aliceblue;
    border: 5px solid red ;
    border-right-width: 40px ;
    border-left-width: 20px;
    border-top-width: 50px ;
    border-bottom-width:  30px; ;
    border-radius: 50px;
}
p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

header{
    border: 20px dotted blue;
}
/* La propiedad border-width con tamaño especifico*/
p.uno {
    border-style: solid;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
}

p.dos {
    border-style: solid;
    border-width: 20px 5px;
    /* 20px top and bottom, 5px on the sides */
}

p.tres {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    /* 25px top, 10px right, 4px bottom and 35px left */
}

figure img{
    width: 600px;
    height: 600px;
    padding: 4px;
}

#imagen-1{
    border: 10px  dotted red;
    border-width: 25px 10px 4px 35px;
}

#imagen-2{
    border: 10px dashed darkblue ;
    border-width: 25px 10px 4px 35px;
}

#imagen-3{
    border: 10px groove blueviolet;
    border-width: 25px 10px 4px 35px;
}


#imagen-4{
    border: 10px solid burlywood;   
    border-width: 25px 10px 4px 35px;
}

#imagen-5{
    border: 10px ridge black;
    border-width: 25px 10px 4px 35px;
}